* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
    background-image: url('../image/login-bg.png');
    background-size: cover;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the body fill the viewport */
}

.container {
    width: 80%; /* Adjust the width of the container */
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text horizontally */
}

h1{
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #d5be8b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}